* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: nunito;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left top, indigo, cyan);
  color: #EFEFEF;
}

.truth-or-dare {
  display: flex;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}

.truth-or-dare > button {
  width: 12vh;
  height: 4vh;
  border: none;
  border-radius: 8px;
  color: #EFEFEF;
  font-size: 2vh;
}

#truth-btn {
  background-color: rgb(0, 180, 0);
}

#truth-btn:hover {
  background-color: rgb(0, 160, 0);
}

#truth-btn:active {
  background-color: green;
}

#dare-btn {
  background-color: red;
}

#dare-btn:hover {
  background-color: rgb(180, 0, 0);
}

#dare-btn:active {
  background-color: rgb(160, 0, 0);
}

#rand-btn {
  color: black;
}

h1 {
  font-size: 4vh;
  text-align: center;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  text-align: center;
  color: #EFEFEF;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 18px;
  height: 18px;
}
